services:
  postgis:
    image: postgis/postgis:16-3.4
    hostname: postgis
    environment:
      - 'POSTGRES_HOST_AUTH_METHOD=trust'
      - 'POSTGRES_PASSWORD=local-dev-wont-care'
    ports:
      - 5432:5432
    volumes:
      - postgis-data:/var/lib/postgresql/data

  h2:
    image: oscarfonts/h2:latest
    hostname: h2
    ports:
      - "8881:81"
    volumes:
      - h2-data:/opt/h2-data

  adminer:
    image: adminer:latest
    hostname: adminer
    ports:
      - 8380:8080
    depends_on:
      - postgis
      - h2

volumes:
  h2-data: {}
  postgis-data: {}
