server:
  port: 9696

spring:
  application:
    name: avarc-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/avarc
    username: avarc
    password: this-is-known-for-standalone-installations
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
        default_schema: public
    hibernate:
      ddl-auto: create
    show-sql: true
  flyway:
    enabled: false
    schemas: public
    default-schema: public
    locations: classpath:db/migration
