name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          # Use OpenJDK
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Maven
        run: mvn --no-transfer-progress -DskipTests clean package
