name: Pull Translations

on:
  schedule:
    - cron: '0 2 * * *'  # Run at 02:00
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/pull-translations.yml'
  workflow_dispatch:

env:
  GHCR_ORG: avarcorg
  JAVA_VERSION: '17' # Crowdin CLI requires Java 17
  NODE_VERSION: '24.1.0'

jobs:
  pull-translations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Random sleep for scheduled runs
        if: github.event_name == 'schedule'
        run: |
          sleep $((RANDOM % 900 + 900))  # Random sleep between 15 and 30 minutes

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'

      - name: Install dependencies
        working-directory: avarc-frontend
        run: |
          if [ ! -f package-lock.json ]; then
            npm install
          fi
          npm ci

      - name: Pull translations from Crowdin
        working-directory: avarc-frontend
        env:
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
        run: |
          npm install -g @crowdin/cli
          npx crowdin download --debug

      - name: Move translations to correct location
        working-directory: avarc-frontend
        run: node scripts/move-translations.js move

      - name: Show translation changes
        working-directory: avarc-frontend
        run: |
          echo "Changes in translation files:"
          git diff --name-only public/locales/de public/locales/tr
          echo
          echo "Detailed changes:"
          git diff public/locales/de public/locales/tr
